@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@media all (max-width:736px;){
  h1{
    color:red;
  }
}
body {
	display: grid;
	grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 200px 1fr 350px;
	grid-template-columns: 12% 1fr 20%;
	grid-gap: 1px;
  height: 200vh;
  width:300vh;
  margin: 1px;
}

header {
	background:#D7E9F0;
	grid-area: header;

}


nav {
	background: #88A9C1;
	grid-area: nav;
  color:white;

}

section {
	background: #B7D6E3;
	grid-area: section;
}

aside {
	background:#88A9C1 ;
	grid-area: aside;
  color:white;
}

footer {
	background:#577B8B;
	grid-area: footer;

}

header, nav, section, aside, footer {
	padding: 5px;
}
h1{
  color:#05385F;
  text-align:center;
  font-size: 66px;
  padding:15px;
  margin:0px;
font-family: 'Great Vibes', cursive;
}
ul a{
  font-size:22px;
  padding:10px;

}
.more {
 font-size:22px;

}
h2{
  font-size:22px;
  text-align:center;
}
.data{
  color:white;

}
.img1{
   width:100px;
  height:50px;
  padding:20px;
  margin:20px;
}
.img2{
  width:20px;
  height:40px;
  padding:10px;
  margin:5px;
}

.img3{
  width:20px;
  height:40px;
  padding:10px;
  margin:5px;
}
.img4{
  width:20px;
  height:40px;
  padding:10px;
  margin:5px;

}
.p2{
  font-size:17px;
  text-align:center;


}
.t{
  font-size:30px;
  text-align:center;
  color:#05385F;
}
.currency{
  color:white;
}
.dropdown_language{
  color:white;
}
ol a{
  font-size:17px;
  padding:10px;
  color:white

}
.p3{
  color:white;
  font-size:44px;
  text-align:center;
  font-family: 'PT Serif', serif;
}
p{
  color:white;
  font-size:22px;
  font-family: 'PT Serif', serif;
}
.img22{
   width:100px;
  height:50px;
  padding:10px;
  margin:5px;



}
.img33{
   width:50px;
  height:100px;
  padding:10px;
  margin:5px;

}
.img44{
   width:50px;
  height:100px;
  padding:10px;
  margin:5px;

}
.p5{
  color:white;
  font-size:55px;
  text-align:center;
  font-family: 'PT Serif', serif;
}
.img77{
  width:50px;
  height:100px;
  padding:10px;
  margin:5px;

}
.img88{
 width:50px;
  height:100px;
  padding:10px;
  margin:5px;

}
.img12{
   width:50px;
  height:100px;
  padding:10px;
  margin:5px;

}



.wrapper {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);

}
.container {
    width: 65%;
    padding: 5% 10%;
}

h1 {
    align-self: center;
}

form {
    width: 100%;





    label {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;

    }
 h1 {
        font-size: 24px;
        line-height: 10px;
        letter-spacing: 1px;
    }

    h1:nth-of-type(2) {
        margin-top: 10%;
    }
}

.name {
    justify-content: space-between;
    display: flex;
    width: 100%;

    div {
        width: 45%;
    }
}
address-info {
    display: flex;
    justify-content: space-between;

    div {
        width: 30%;
    }
}

.cc-info {
    display: flex;
    justify-content: space-between;

    div {
        width: 45%;
    }
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
        margin: 3px 0;
        height: 30px;
        width: 40%;

        text-transform: uppercase;
        border: 0;
        border-radius: .3rem;
        letter-spacing: 2px;



    }

button:focus {
    outline: none;
}

@media (max-width: 736px) {
    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .btns {
        align-items: center;

        button {
            width: 50%;
        }
    }

    .form h1 {
        text-align: center;
    }

    .name,
    .address-info,
    .cc-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        div {
            align-items: center;
            flex-direction: column;
            width: 100%;
            display: flex;
        }
    }

    .street,
    .cc-num {
        text-align: center;
    }

    input {
        margin: 5px 0;
        min-height: 30px;
    }
}
